/* basic body to visualize the html build. */
html, body {
    margin: 0;
    padding: 0;
  }

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 10%; margin-right: 10%;
}

/* Section Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;

    margin-top: 1.5em;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 4px solid #7d97ad;
}

.header_logo {
    height: 6.25em;
    padding: 0.5em;
    margin-right: 1.5em;
}

.nav_container {
    text-align: right;
    padding: 0.5em;
}

.logo_img {
    width: 5em;
    height: 5em;
}

/* Section Hero Image*/
.hero {
    width: 100%;
    height: 25em;
    margin-bottom: 3em;
    background-image: url("../img/center-theme.jpg");
    background-size: cover;
    background-position: center;
    clear: both;
}

/* Section Work*/
section {
    margin-bottom: 3em;
}

.work-wrap {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.headline_work {
    color: #7d97ad;

}

.feature {
    flex: 3 100%;
    align-items: center;
    display: block;
    align-content: stretch;
    justify-content: space-around;

    margin-right: 1em;
}

.feature:last-of-type {
    margin-right: 0;
}

img {
    width: 100%;
    display: block;
}

/* Section Footer */
footer {
    height: 5em;
    background-color: yellow;
}

.logo_udacity {
    width: 6em;
}


/* @Media setup for mobile */
@media screen and (max-width: 400px) {

}

@media screen and (min-width: 401px) and (max-width: 768) {

}

@media screen and (max-width: 769px) {

}